$light-bg: #42464D;
$main-bg: #36393E;
$secondary-bg: #2F3136;
$tertiary-bg: #202225;

$main-text-color: #ffffff;
$secondary-text-color: hsla(0,0%,100%,.7);
$tertiary-text-color: #72767d;

$main-border-radius: 3px;

$default: #42464D;
$primary: rgb(6, 136, 243);
$warning: #FAA61A;
$success: #43B581;
$danger: #f04747;