body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.text{
	&-left{
		text-align: left;
	}
	&-center{
		text-align: center;
	}
	&-right{
		text-align: right;
	}
}

.no-connection{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: red;
	z-index: 999;
	text-align: center;
	line-height: 40px;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

.ivu-breadcrumb-item-link{
	cursor: pointer;
	color: #495060;
    font-weight: bold;
}

.ivu-breadcrumb-item-separator{
	margin: 0 4px;
}

.ivu-spin-fix{
	position: fixed !important;
}

.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ivu-modal-content{
	border-radius: 0;
}

.new-iteration-btn{
	.ivu-poptip {
		float: right;
	}

	.ivu-poptip-popper{
		min-width: 250px;
	}
}