@import 'variables';

body {
	font-family: 'Raleway', sans-serif;
	-webkit-app-region: drag;
	-ms-overflow-style: scrollbar;
    background-color: $main-bg;
	color: $main-text-color;
}

input,
button,
textarea,
a,
label,
span,
ul,
li,
.layout-content,
.layout{
	-webkit-app-region: no-drag;
}

h1,
h2,
h3,
h4,
h5,
h6{
	-webkit-user-select: none;
}

.layout{
	border: 0 !important;
	border-radius: 0 !important;
}

#top-nav{
	color: white;
	background-color: #464c5b;

	& > .hamburger-menu{
		padding: 5px;
		font-size: 1.3em;
		display: inline-block;
		width: 33px;
		text-align: center;
		cursor: pointer;
	}
	
	& > .logo{
		padding: 5px 0;
		font-size: 1.3em;
	}
}


.text{
	&-left{
		text-align: left;
	}
	&-center{
		text-align: center;
	}
	&-right{
		text-align: right;
	}
}

.no-connection{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: red;
	z-index: 999;
	text-align: center;
	line-height: 40px;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

.ivu-breadcrumb-item-link{
	cursor: pointer;
	color: #495060;
    font-weight: bold;
}

.ivu-breadcrumb-item-separator{
	margin: 0 4px;
}

.ivu-spin-fix{
	position: fixed !important;
}

.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ivu-modal-content{
	border-radius: 0;
}

.new-iteration-btn{
	.ivu-poptip {
		float: right;
	}

	.ivu-poptip-popper{
		min-width: 250px;
	}
}

.task-options{
	padding: 0 30px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e9eaec;
}

.tracker-modal{
	.ivu-modal{
		width: 80% !important;
		min-height: 100%;
		height: 100%;
		top: 0;
	}

	.ivu-modal .ivu-modal-content{
		width: 100%;
		height: 100%;
		// padding: 0;
	}

	.ivu-modal .ivu-modal-content .ivu-modal-header{
		padding: 10px 0 0;
		border-bottom: 0;
	}
	
	.ivu-modal .ivu-modal-content .ivu-modal-header .content{
		padding: 0 30px;
	}

	.ivu-modal .ivu-modal-content .ivu-modal-body{
		padding: 0 30px 14px;
	}

	[data-medium-focused="true"]{
		border-color: rgba(black, .2) !important;
		outline: 0 !important;
	}
}

.task-title > .ivu-input-wrapper > .ivu-input{
	font-size: 2em;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: transparent;
}

.task-description > .ivu-input-wrapper > .ivu-input{
	min-height: 90px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	padding: 10px 5px;
	border-radius: 3px;
}

.task-title .ivu-input:focus,
.task-description .ivu-input:focus{
	border-color: rgba(0, 0, 0, 0.06);
}

.content-loading{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    text-align: center;
	z-index: 999;
	
	& > .ivu-spin-main{
		position: absolute;
		left: 50%;
		top: 300px;
		transform: translateX(-50%);
	}
}

.ivu-modal-wrap{
	z-index: 1060;
}

.project-filter input{
	border-radius: 0 !important;
	outline: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	background: #495060 !important;
    color: white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

._no-margin{
	margin: 0 !important;
}

.task-description {
	.ql-editor,
	.ql-code{
		height: 200px;
	}
}

// TQ Styles
.tq{
	&-content {
		padding: 15px;
	}

	&-form-item{
		padding: 5px;
		margin-bottom: 10px;
	}

	&-form-item .tq-label{
		display: block;
		padding-bottom: 5px;
	}

	&-form-item .tq-input{
		width: 100%;
		display: block;
		border-radius: $main-border-radius;
		background-color: $light-bg;
		border: 0;
		color: $main-text-color;
		outline: 0 !important;
		font-weight: normal;
		font-size: 1.1em;
		padding: 7px;
	}

	&-form-item .tq-input.-lg{
		
	}

	&-form-item .tq-input.-sm{
		
	}

	&-form-item .tq-input.-xs{
		
	}

	&-btn{
		padding: 5px;
		border-radius: $main-border-radius;
		border: 0;
		min-width: 100px;
		text-align: center;
		margin-top: 5px;
		cursor: pointer;
		outline: 0 !important;
	}
	
	&-btn.-default{
		background-color: $default;
		color: $main-text-color;
	}

	&-btn.-default:hover,
	&-btn.-default:active{
		background-color: darken($default, 5%);
	}

	&-btn.-primary{
		background-color: $primary;
		color: $main-text-color;
	}

	&-btn.-primary:hover,
	&-btn.-primary:active{
		background-color: darken($primary, 5%);
	}

	&-btn.-warning{
		background-color: $warning;
		color: $main-text-color;
	}

	&-btn.-warning:hover,
	&-btn.-warning:active{
		background-color: darken($warning, 5%);
	}

	&-btn.-success{
		background-color: $success;
		color: $main-text-color;
	}

	&-btn.-success:hover,
	&-btn.-success:active{
		background-color: darken($success, 5%);
	}

	&-btn.-danger{
		background-color: $danger;
		color: $main-text-color;
	}

	&-btn.-danger:hover,
	&-btn.-danger:active{
		background-color: darken($danger, 5%);
	}

	&-btn.-sm{
		font-size: 1em;
	}

	&-btn.-md{
		font-size: 1.2em;
	}

	&-btn.-lg{
		font-size: 1.5em;
	}

	&-btn.-block{
		display: block;
		width: 100%;
	}

	&-layout {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.teams-section{
	width: 60px;
	display: block;
	background-color: $main-bg;

	.teams-list{
		width: 50px;
		margin: 0 auto;
	}

	.teams-list > .team{
		display: block;
		border: 1px solid $main-text-color;
		border-radius: 50%;
		text-align: center;
		width: 50px;
		height: 50px;
		line-height: 50px;
		margin: 5px 0;
		cursor: pointer;
		overflow: hidden;
	}

	.teams-list > .team:hover{
		border-color: $primary;
		color: $primary;
	}

	.teams-list > .team.-add{
		border-style: dashed;
	}
}

.projects-section{
	background-color: $secondary-bg;
	width: 21%;

	.heading{
		padding: 5px;
		background-color: $tertiary-bg;
	}

	.projects-list{
		padding: 5px;
	}
	
	.projects-list > .project > a,
	.projects-list > .project:focus > a{
		display: block;
		font-size: 1.2em;
		padding: 5px 0;
		color: $secondary-text-color;
		cursor: pointer;
	}

	.projects-list > .project:hover > a,
	.projects-list > .project:active > a{
		color: $main-text-color;
		text-decoration: underline;
	}

	#add-project-btn{
		width: 18px;
		height: 18px;
		line-height: 18px;
		padding: 0;
		float: right;
		min-width: 0;
		margin-top: 0;
	}

	.project-filter > input{
		width: 100%;
		padding: 6px;
		font-size: 1.2em;
	}
}

.is-marginless{
	margin: 0;
}